.action-button {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background-color: #68b738;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.action-button:hover {
  background-color: #5eaa2f;
}

.action-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.action-button--big {
  font-size: 20px;
  line-height: 26px;
}

.action-button--small {
  font-size: 16px;
  line-height: 20px;
}
