.additional-products {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
}

.additional-products__wrapper-container {
  padding: 27px 13px;

  @media (min-width: $tablet-width) {
    padding: 0 5px;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -85px;
    margin-bottom: 0;
    margin-left: -36px;
  }
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  display: grid;

  @media (min-width: $tablet-width) {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    list-style: none;
    margin: 0;
    margin-left: 8px;
    padding: 0;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    max-width: calc(1300px - 40px* 2);
    margin: 0 auto 86px;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 26px 41px 28px 38px;
    border: 1px solid #cdcdcd;
    margin-bottom: -1px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    justify-content: space-between;
    border-left: none;
    border-right: none;
    flex-wrap: wrap;
  }
}

.additional-products__item:first-child {
  @media (min-width: $desktop-width) {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-products__item::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 129px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional-products__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  margin: -1px auto 35px;
  position: relative;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 39px;
    margin-top: 74px;
    margin-bottom: 79px;
    margin-left: -276px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    position: relative;
    margin-left: -392px;
  }
}


.additional-products__units,
.additional-products__price {
  font-family: $lato;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__unit {
  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
  }
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  font-family: $oswald;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 0 -1px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-top: 10px;
    margin-bottom: -8px;
  }
}

.additional-products__units-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    gap: 48px;
    margin: 0;
  }


  @media (min-width: $desktop-width) {
    width: 285px;
    margin-top: 12px;
    margin-bottom: -8px;
  }
}

.additional-products__item-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    margin: 14px 0 0 24px;
    align-items: center;
  }
}

.additional-products__card-order {
  width: 100%;
  padding: 10px 12px 9px 8px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-left: -1px;
    padding-left: 5px;
    padding-right: 0;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 231px;
    height: 30px;
    margin-top: -24px;
    margin-bottom: 15px;
    margin-left: 669px;
    padding: 8px 9px 1px 3px;
  }
}

