.main-header {
  width: 100%;


  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 114px;
    margin-left: -5px;
  }
}

.main-header--catalog {
  margin-top: 2px;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: -40px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -7px;
  }
}

.main-header__container {
  @media (min-width: $tablet-width) {
    padding: 4px 34px 0 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 56px 29px;
    margin-top: 5px;
    margin-right: 50px;
  }
}

.main-header-logo {
  margin-left: -12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
    margin-left: 50px;
  }
}

.main-header__logo-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 31px 17px;
  align-items: center;
  position: relative;
  margin-bottom: -3px;


  @media (min-width: $tablet-width) {
    margin-right: 94px;
    padding: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 540px;
    margin-top: -3px;
  }
}

.main-header__burger:hover {
  opacity: 0.8;
}

.main-header__burger:active {
  opacity: 0.6;
}

.main-header__burger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: $button-background-white;
  display: block;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-header__burger {
    display: none;
  }

  .main-.main-header__burger--active .main-header__burger--icon {
    display: none;
  }

  .main-header__burger--active .main-header__cross--icon {
    display: block;
  }
}

.main-header__icon--burger {
  display: block;
  margin-left: 27px;
  margin-top: 1px;
}

.main-header__burger--active .main-header__icon--burger {
  display: none;
}

.main-header__burger--active .main-header__icon--cross {
  display: block;
  padding-left: 7px;
}

.main-header--cat::before {
  @media (min-width: $desktop-width) {
    content: "";
    width: 50%;
    height: 694px;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/index-background-desktop-desktop@2x.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 50%;
  }
}

.main-nav--closed.main-nav--nojs {
  display: block;
  position: static;
}

.main-nav--nojs .main-nav__site-list {
  position: static;
}

.main-nav--opened {
  display: block;
}

.main-nav--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-header__icon--cross {
  display: none;
}
