.map {
  font-weight: 400;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-left: 65px;
  }
}

.map--catalog {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 85px;
  }
}

.map__wrapper {
  padding: 0;
  margin-top: -6px;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__container {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 17px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 308px;
    margin-top: 61px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 78px;
    position: absolute;
    background-color: #ffffff;
    min-height: 199px;
    top: 35px;
    left: 111px;
    gap: 88px;
  }
}

.map__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 1px 4px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
    margin-right: 6px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
  }
}

.map__adress {
  font-family: $lato;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  margin-left: -8px;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 157px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.map__street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    margin-top: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;
    margin-top: 58px;
  }
}

.map__iframe {
  width: 100%px;
  height: 362px;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-top: -59px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    width: 1440px;
    margin-top: -80px;
  }
}

.map__container--index {
  @media (min-width: $desktop-width) {
    top: 77px;
  }
}

.map__city {
  margin: 0;
}

.map__picture {
  display: none;
}

.map__picture.map__picture--nojs {
  display: block;
}

.map__picture img {
  width: 100%;
  object-fit: cover;
}
