.subscription-form {
  color: $base-color-text-black;
  font-family: $oswald;
  width: 100%;
  overflow: hidden;
}

.subscription-form__wrapper {
  padding: 45px 29px;

  @media (min-width: $tablet-width) {
    padding: 112px 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 110px 104px;
  }
}

.subscription-form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: -33px -7px 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: -29px;
    margin-bottom: 65px;
    font-size: 32px;
    line-height: 32px;
    margin-left: -276px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 5px auto 81px -486px;
  }
}

.subscription-form__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-top: -8px;
    margin-bottom: 22px;
    margin-left: 18px;
  }
}

.subscription-form__input {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 280px;
  margin-left: -8px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
    margin: 24px auto 24px 234px;
  }
}

.subscription-form__field {
  padding: 12px;
  font-size: 20px;
  line-height: 29.64px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
  font-family: $oswald;

  @media (min-width: $tablet-width) {
    width: 376px;
    padding: 13px 182px 12px 12px;
    font-size: 20px;
    line-height: 29.64px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscription-form__button {
  padding-top: 14px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  margin-top: -8px;

  @media (min-width: $tablet-width) {
    padding: 15px 69.5px;
    margin-top: 0;
    margin-left: 0;
  }
}
