.top-banner {
  width: 100%;
  position: relative;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    min-height: 497px;
    margin-bottom: 7px;
    margin-top: 50px;
  }
}

.top-banner::before {
  content: "";
  display: block;
  position: absolute;
  height: 302px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop-mobile@2x.png");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  background-position: center top;
  z-index: -10;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.top-banner__img {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: -2px;
    margin-left: -111px;
  }
}

.top-banner__wrapper {
  padding-bottom: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 128px;
    padding-right: 331px;
    display: flex;
    margin: 0 auto;
  }
}

.top-banner__container-lead {
  width: 100%;
  min-height: 302px;
  background-size: 320px 302px;
  padding-top: 27px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    background: none;
    padding-left: 89px;
    min-height: 180px;
    box-sizing: border-box;
  }
}

.top-banner__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 1px 0 25px 17px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-top: 4px;
    color: #000000;
    text-align: start;
    margin-bottom: 43px;
    margin-left: -7px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-top: -65px;
    margin-left: -35px;
    width: 400px;
  }
}

.top-banner__slogan {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: start;
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 20px;
    margin-left: -8px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-bottom: 105px;
    margin-left: -35px;
  }
}

.top-banner__img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  margin-bottom: -15px;
  margin-left: 17px;

  @media (min-width: $tablet-width) {
    position: static;
    min-height: 609px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    top: -147px;
    left: 638px;
    position: absolute;
  }
}

.top-banner__link {
  margin: -3px 4px 0 7px;
  padding: 7px 0 11px 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    top: 265px;
    left: 112px;
    font-size: 20px;
    width: 245px;
    padding: 16px 0;
    line-height: 20px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: 195px;
    left: 182px;
  }
}
